body {
    font-family: 'Roboto', sans-serif;
    /* padding-top: 210px; */
}

/* table.basket-table {width: 100%; border: 0px; border-collapse: collapse;}
table.basket-table thead {font-weight: bold;}
table.basket-table td {padding: 0.6rem 1rem; border-bottom: 1px solid #e8e9eb;} */

@media screen and (max-width: 768px) {
    .img-basket {
        max-width: 200px;
    }

    .inputNumber {
        margin-left: auto;
      }

    table.basket-table thead {
        display: none;
      }
      table.basket-table tr {
        display: block;
        margin-bottom: 2rem;
        /* border-bottom: 2px solid #e8e9eb; */
      }
      table.basket-table td {
        display: block;
        text-align: right;
      }
      table.basket-table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
      }



  /* tr {
    display: flex;
    flex-flow: row wrap;
  }
 
  td, th {
    display: block;
    width: 33%;
  }
 
  th:first-child,
  td:first-child {
    
    width: 20%;
  }

  th:nth-child(2),
  td:nth-child(2) {

    width: 30%;
  }

  th:nth-child(3),
  td:nth-child(3) {

    width: 16%;
  }
 
  th:nth-child(7),
  td:nth-child(7) {

    width: 10%;
  } */

}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

h1 {
    font-size: 60px;
}

h2 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 36px;
}

.card {
    border: 1px solid #B4D896;
    border-radius: .25rem;
    cursor: pointer;
}

.card-text {
    padding: 20px;
    font-weight: 300;
    letter-spacing: .5vw;
    font-size: 20px;
    color: #76a352;
}

.card-img-scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.card-size {
    max-height: 400px;
}

.card-img-scale img {
    transition: .5s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */

}
.card-img-scale img:hover {
    transform: scale(1.1); /* Масштаб */
}

.nav2 .nav-link {
    font-weight: 300;
    letter-spacing: 2px;
    color: #212529 !important;
}

.nav2 {
    display: inline;
}

.nav2 li {
    display: inline;
}

.nav2 li a {
    display: inline;
}


.nav1 {
    font-weight: 300;
    letter-spacing: .1vw;
    font-size: 1vw;
}

.logo img {

    max-width: 250px;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

.navbar-brand {

    margin-right: 0;

}

label {
    margin-bottom: 0;
}

.social a {
    text-decoration: none;
    color: #B4D896;
}

.color-item {
    color: #B4D896;
}

.text-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.popular-heading {
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 34px;
    text-align: center;
}

.index-position {
    position: relative;
}

.index-position-item {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    z-index: 99;
    /* background-image: url(../img/backfortext.jpg); */
    /* background-image: url(../img/backfortext.jpg); */
    background-color: white;
    opacity: 0.8;
    padding: 4vw;
}

.index-position-item:hover {
    background-color: white;
    opacity: 1;
}

/* .navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
} */

.mybg-color {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/backfortext.jpg); */
    /* opacity: 0.9; */
    /* padding: 25px; */
}

.mybg-color .popular-item {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
    color: #76a352;
}

.carousel-control-next, .carousel-control-prev {
    color: #76a352 !important;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    color: #54743b;
}

.carousel-control-next:after, .carousel-control-prev:hover {
    color: #76a352;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: #76a352;
}

.line span + span {
    border-left: 1px solid #D3D3D3;
    padding-right: 0;
}

/* .sticky {
    font-size: 14px;
    height: 80px;
} */

.sticky img {
    max-width: 80px;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.4s ease;

}

.header-custom {
    transition: all 0.4s ease;
}

.p-custom {
    padding-top: 80px;
}

.style-select {
    width: 190px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}

.style-select select {
    height: 30px;
    padding: 0 0.5rem;
    
}

.label-sort {
    margin-right: 6px;
}

.nextprev a{
    padding-bottom: 10px;
}

.card-body-custom {
    padding-left: 1.25rem;
}

.size-item {
    border: 1px solid #B4D896;
    border-radius: .2rem;
    cursor: pointer;
    /* width: 30px;
    height: 30px; */
    padding-left: 15px;
    padding-right: 15px;
}

.size-item:hover {
    background-color: #d6ffb1;
}

.button-custom {
    border: 1px solid #B4D896;
    background-color: white;
    letter-spacing: 2px;;
    padding: 10px;
    border-radius: .2rem;
    font-size: 14px;
}

.button-custom:hover {
    background-color: #d6ffb1;
}

.table-size span {
    border-bottom: 1px dashed;
    transition: 0.2s all;
    cursor: pointer;
}

.price {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
}

.price-sum {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
}

.desc {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.img-basket {
    max-width: 100px;
}

.text-block {
    display: inline;
}

.table td, .table th {
    vertical-align: middle;
}

/* .table {
    table-layout: fixed;
} */

.clear-busket {
    color: rgba(0, 0, 0, 0.5);
}

/* quantity */
.inputNumber {
    width: 90px;
    height: 25px;

    border-radius: 8px;
    border: 1px solid #e4e4e4;
    line-height: 22px;


    overflow: hidden;
  }

  .minus {
    float: left;
    text-align: center;
    width: 30px;
    height: 100%;
    cursor: pointer;
  }

  .number {
    float: left;
    text-align: center;
    width: 30px;
    height: 100%;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
  }

  .plus {
    float: left;
    text-align: center;
    width: 28px;
    height: 100%;
    cursor: pointer;
  }

.minus:hover,
.plus:hover {
  background-color: #e4e4e4;
}

/* search */

.search-box {
    -webkit-transition: width 0.5s, border-radius 0.5s, background 0.5s, box-shadow 0.5s;
    transition: width 0.5s, border-radius 0.5s, background 0.5s, box-shadow 0.5s;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* background: #ebebeb; */
  }

  .search-box-xs {
    -webkit-transition: width 0.5s, border-radius 0.5s, background 0.5s, box-shadow 0.5s;
    transition: width 0.5s, border-radius 0.5s, background 0.5s, box-shadow 0.5s;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #f8f9fa;
  }

  .search-box + label .search-icon {
    color: #B4D896;
  }
  /* .search-box:hover {
    color: #B4D896;
  } */
  /* .search-box:hover + label .search-icon {
    color: white;
  } */
  .search-box:focus {
    /* -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s; */
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 10px;
    cursor: text;
    width: 180px;
    /* border-radius: auto; */
    background: #b4d89652;
    /* color: black; */
  }
  /* .search-box:focus + label .search-icon {
    color: black;
  } */
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  
  #search-submit {
    position: relative;
    left: -5000px;
  }
  
  .search-icon {
    position: relative;
    left: -35px;
    color: #B4D896;
    cursor: pointer;
  }

  .search-container {
    display: inline-block;
    /* float: right; */
  }

